<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AleatorizadorEventos10"
        tools:targetApi="31">
        <activity
            android:name=".MainActivityRegristro"
            android:exported="false" />
        <activity
            android:name=".MainActivity0Login"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity10Vender"
            android:exported="false" />
        <activity
            android:name=".MainActivity9Comprar"
            android:exported="false" />
        <activity
            android:name=".MainActivityBlanco"
            android:exported="false" />
        <activity
            android:name=".MainActivity8Enemigo"
            android:exported="false" />
        <activity
            android:name=".MainActivity7Mercader"
            android:exported="false" />
        <activity
            android:name=".MainActivity6Ciudad"
            android:exported="false" />
        <activity
            android:name=".MainActivity5Objeto"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>